.flair {
height:70px;
width:70px;
cursor:pointer;
border:3px solid transparent;
background-clip:padding-box;
background-size: contain;
display: inline-block;
position:relative;
}

#show-base {
  display: none;
}

@media only screen and (min-width: 1921px) {
  .flair {
    height:90px;
    width:90px;
  }
  .eza:before {
    height:18px!important;
    width:20px!important;
    bottom:5px!important;
    right:6px!important;
  }
  .eza2:before {
    height:23px!important;
    width:27px!important;
    bottom:4px!important;
    right:4px!important;
  }
}

@media only screen and (max-width: 760px) {
  .flair {
    height:50px;
    width:50px;
  }
  .eza:before {
    height:12px!important;
    width:15px!important;
    bottom:2px!important;
    right:2px!important;
  }
  .eza2:before {
    height:17px!important;
    width:20px!important;
    right:2px!important;
    bottom:0px!important;
  }
}

.disabled, .hidden {
  display: none;
}

.eza:before {
content:"";
display:block;
height: 16px;
width: 18px;
background:url(../images/eza.webp);
position:absolute;
bottom:4px;
right:4px;
background-size:contain;
}

div.eza, div.eza2 {
position:relative;
}

.eza2:before {
content:"";
display:block;
height: 21px;
width: 24px;
background:url(../images/eza2.webp);
position:absolute;
bottom:2px;
right:4px;
background-size:contain;
}
