.flair {
height:50px;
width:50px;
cursor:pointer;
margin-right:6px;
margin-top:6px;
border:3px solid transparent;
background-clip:padding-box;
background-size: contain;
display: inline-block;
}

#show-base {
  display: none;
}

@media only screen and (min-width: 1921px) {
  .flair {
    height:70px;
    width:70px;
  }
}

@media only screen and (max-width: 760px) {
  .flair {
    height:40px;
    width:40px;
  }
}

.disabled {
  display: none;
}
