/*PAGE*/
body {
font-family: -apple-system, San Francisco Display, Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
text-align:center;
background:url(../images/bg.jpg);
background-attachment:fixed;
background-size: cover;
}

.flair {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.flair:not(.selected):hover {
  opacity: 0.7;
}

.flair.selected {
border:3px solid #f33b3b;
border-radius:2px;
opacity: 1;
}

.flair.rainbow {
border: 3px solid transparent;
border-image: linear-gradient(to bottom right, red, yellow, lime, aqua, blue, magenta, red);
border-image-slice: 1;
}

.buttons {
  display:block;
  position:relative;
  margin-top:20px;
}

/* The switch - the box around the slider */
.switch {
  position: absolute;
  display: inline-block;
  top:-24px;
  left:15px;
  width: 30px;
  height: 18px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ad876f;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: red;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#counter, #rainbow, #counter2 {
  display:inline-block;
  color: #eee;
  font-weight: 500;
  font-size: 14px;
}

.cl {
  color: #ffc459;
}

.tooltip {
position: absolute;
left: 50px;
top: -24px;
color: #eee;
font-size: 13px;
font-weight: 500;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

button {
  cursor: pointer;
  background: #502909;
  color: #fdf7d7;
  border: 1px solid #ec965d;
  border-radius: 2px;
}

.header {
  background-image: url(../images/header.png);
  width:334px;
  height:100px;
  margin:auto;
  margin-top:20px;
}

/*FLAIR SECTION*/
.container2 {
width:100%;
max-width:1200px;
background:url(../images/bg-main.png);
margin:auto;
margin-top:20px;
position:relative;
background-size:contain;
margin-bottom:-40px;
}

.container2:before {
content:'';
background:url(../images/bg-top.png) no-repeat;
background-size: contain;
height:20px;
width:auto;
position:absolute;
top:-10px;
right:0;
left:0;
margin:auto;
pointer-events: none;
}

.container2:after {
content:'';
background:url(../images/bg-bot.png) no-repeat;
background-size: contain;
height:17px;
width:auto;
position:absolute;
right:0;
left:0;
margin:auto;
pointer-events:none;
}

footer {
height:20px;
position: absolute;
top: 0;
left: 0;
width:220px;
}

footer div {
color:#fff;
line-height:40px;
font-weight:400;
font-size:12px;
}

footer div a {color:#b3b3ff;}
