body {
font-family:-apple-system, San Francisco Display, Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
text-align:center;
background:url(../images/bg.png);
}

.flair {
opacity:0.35;
filter:alpha(opacity=35);
}

.flair:not(.selected):hover {
opacity:0.7;
}

.flair.selected {
background-color: rgba(0,0,0,0.3);
border-radius:10px;
opacity:1;
}

.buttons {
display:block;
position:relative;
margin-top:10px;
}

#image-download {
position:absolute;
left:4px;
top:4px;
}

.modal-header p {
position: absolute;
top: 0;
left: 5px;
color: #6ee8fd;
font-size: 12px;
}

#image-modal .modal-header p {
left: 140px;
}

.modal {
visibility:hidden;
opacity:0;
display:block;
position:fixed;
padding-top:30px;
left:0;
top:0;
width:100%;
height:100%;
background-color:rgba(0,0,0,0.5);
z-index:999;
transition-duration: .2s;
transition-timing-function: cubic-bezier(.4,0,.2,1);
transition-property: transform,opacity,visibility;
overflow-y: hidden;
overscroll-behavior: contain
}

#removed-modal, #import-modal, #export-modal {
padding-top:150px;
}

.modal-container {
max-width:60rem;
margin:auto;
transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
transition-duration: .2s;
transition-timing-function: cubic-bezier(.4,0,.2,1);
transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
border-top-left-radius: var(--rounded-box, .5rem);
border-top-right-radius: var(--rounded-box, .5rem);
border-bottom-left-radius: var(--rounded-box, .5rem);
border-bottom-right-radius: var(--rounded-box, .5rem);
box-shadow: 0 25px 50px -12px #00000040;
}

#image-modal .modal-container {
max-width:1500px;
}

.modal-content, .modal-content2, .modal-content3 {
position:relative;
background-color:#092536;
margin:auto;
padding:15px 0;
border-bottom-left-radius: var(--rounded-box, .5rem);
border-bottom-right-radius: var(--rounded-box, .5rem);
}

.modal-content3{
background-color:#32586f;
}

.modal-header {
background:#030214;
height:40px;
position:relative;
margin:auto;
border:2px solid #2c4273;
border-top-left-radius: var(--rounded-box, .5rem);
border-top-right-radius: var(--rounded-box, .5rem);
}

.modal-text {
color:#eee;
line-height:40px;
font-weight:500;
font-size:large;
}

.close-btn {
position:absolute;
top:7px;
right:5px;
width:1.5rem;
height:1.5rem;
text-align:center;
cursor:pointer;
border-radius:.25rem;
background-color:#4d0303;
color:red;
border:1px solid red;
}

.close-btn:hover {
background-color:red;
color:#4d0303;
}

.close-btn:active {
transform: scale(0.95);
}

.textarea {
flex-shrink: 1;
min-height: 3rem;
padding: .5rem 1rem;
font-size: .875rem;
line-height: 1.25rem;
line-height: 2;
border-width: 1px;
width:90%;
max-width:30rem;
border-radius: var(--rounded-btn, .5rem);
--tw-border-opacity: 1;
}

.textarea:focus {
outline: 2px solid #85d3fd;
outline-offset: 1px
}

.textarea:hover:not(:focus) {
outline: 1px solid #caecff;
outline-offset: 1px
}

to {
top:0;
opacity:1;
}

.switch,.switch2,.switch3 {
position:absolute;
display:inline-block;
top:-27px;
left:0;
width:30px;
height:18px;
}

/*super rainbow toggle*/
.switch3 {
left: 145px;
}

/*remove legend toggle*/
.switch2 {
left:325px;
}

.switch input {
opacity:0;
width:0;
height:0;
}

.tooltip, .tooltip3 {
position:absolute;
left:35px;
top:-27px;
color:#eee;
font-size:13px;
font-weight:500;
text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.tooltip2 {
position:absolute;
left:360px;
top:-27px;
color:#eee;
font-size:13px;
font-weight:500;
text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.tooltip3 {
left:180px;
}

.slider, .slider2 {
position:absolute;
cursor:pointer;
top:0;
left:0;
right:0;
bottom:0;
background-color:#111;
-webkit-transition:.4s;
transition:.4s;
border-radius:5px;
border:1px solid #6f3;
}

.slider:before {
position:absolute;
content:"";
height:14px;
width:14px;
left:2px;
bottom:1px;
background-color:#b0ff7a;
-webkit-transition:.4s;
transition:.4s;
border-radius:5px;
}

input:checked + .slider {
background-color:#bb0000;
}

input:focus + .slider {
box-shadow:0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform:translateX(11px);
-ms-transform:translateX(11px);
transform:translateX(11px);
}

.slider.round {
border-radius:34px;
}

.slider.round:before {
border-radius:50%;
}

#counter,#rainbow,#counter2,#srainbow {
display:inline-block;
color:#eee;
font-weight:500;
font-size:14px;
}

.cl {
color:#76e6fe;
}

#select-none {
border:1px solid #ff3c3c;
color: #ff3c3c;
background-color:#1e0b04;
}

#select-none:hover {
color: #1e0b04;
background-color:#ff3c3c;
}

#show-hidden {
border:1px solid #fff;
}

.header {
background-image:url(../images/header.png);
width:335px;
height:157px;
margin:20px auto 10px;
}

.container2 {
position:relative;
width:100%;
max-width:1750px;
margin:10px auto -40px;
}

.icon-container {
background:#173d0e;
position:relative;
border:4px double #c3e7bb;
border-radius:4px;
padding-top:10px;
}

footer {
height:20px;
position:absolute;
top:0;
left:0;
width:200px;
}

footer div {
color:#fff;
line-height:30px;
font-weight:400;
font-size:12px;
}

footer div a {
color:#ffeb7d;
}

#hide-legends,button {
cursor:pointer;
background:#010e00;
color:#7dff51;
border:1px solid #7dff51;
border-radius:3px;
padding:7px;
margin-right:3px;
}

button:hover {
color:#010e00;
background:#7dff51;
}

button:active {
transform: scale(0.95);
}

.modal-content3 button {
margin-top:15px;
}

.modal-action {
display: flex;
justify-content: center;
}

.close-btn.btn-error {
border-color: transparent;
background-color: #f87272;
color: #631717;
line-height: 30px;
padding: 5px;
font-size: 14px;
width: 70px;
height: auto;
border-radius: 7px;
top: 0;
position: relative;
}

#import-btn, #copy-export {
border-color: transparent;
background-color: #3abff8;
color: #0e4259;
line-height: 30px;
padding: 5px;
font-size: 14px;
width: 70px;
border-radius: 7px;
}

div.btn-container {display:block!important}

#export-section {
display: inline-block;
position: relative;
}

#display-copied, #imported, #undefined {
display: none;
position: absolute;
background: #fff1d5;
color: #333;
padding: 5px;
top: -10px;
left: 0;
right: 0;
width: 170px;
margin: auto;
border-radius: 3px;
font-weight: 500;
box-shadow: 1px 2px 3px #888888;
}

#undefined {
background: #ff9c9c;
}

#import-modal .warning {
color: #ddd;
background: #11081b;
padding: 5px;
border: 2px solid #ac5ece;
border-radius:7px;
margin-top:5px;
}

.changelog {
position: absolute;
left: 10px;
top: 70px;
background:#010e00;
color:#7dff51;
border:1px solid #7dff51;
min-width: 190px;
}

.changelog h2 {
margin: 0;
border-bottom:1px solid #7dff51;
font-size: 1em;
}

.changelog h3 {
font-size: .8em;
margin: 5px 0 0;
color: #ede19b;
}

.changelog li {
font-size: 13px;
color: #b9fda2;
margin-bottom: 5px;
list-style-position:inside;
}
